body {
  max-width: 644px;
  margin: auto;
  padding: 2em;
}

.badge {
  a {
    display: inline-block;
    line-height: 0;
  }
  img {
    image-rendering: pixelated;
  }
  &:hover img {
    outline: solid 1px #000;
  }
}
